<head xmlns:th="http://www.thymeleaf.org" th:fragment="commonHead(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Contabilidade</title>
    <!-- Granular CSS by scope -->
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/tables.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/toasts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" referrerpolicy="no-referrer" />
    <script src="/js/toast.js" defer></script>
    <script src="/js/searchable-select.js" defer></script>
</head>
