<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('Lançamentos')}"></head>

<body>
    <div th:replace="~{fragments/toast :: toasts}"></div>
    <main class="container">
        <div class="page-header">
            <h1>Lançamentos</h1>
            <div class="actions">
                <div class="segmented-group">
                    <a class="btn segmented" th:classappend="${sentidoContabil.name() == 'DEBITO'} ? ' primary' : ''" th:href="@{/lancamentos(sentidoContabil='DEBITO')}">Débitos</a>
                    <a class="btn segmented" th:classappend="${sentidoContabil.name() == 'CREDITO'} ? ' primary' : ''" th:href="@{/lancamentos(sentidoContabil='CREDITO')}">Créditos</a>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/lancamentos/list :: lancamentoTable(${lancamentos}, null)}"></div>

    </main>
    <script src="/js/toast.js"></script>
</body>

</html>
